@topbar_color : #a7625a;
@settings_button_color: #FFFFFF;
@content_body_color: #788384;
@content_body_color2: @content_body_color + #111;
@content_body_color3: @content_body_color2 + #111;
@settings-right: 10%;
@side_background_color: #FFFFDD;
@button_width: 136px;

/** Universal settings **/
html {
	padding: 0;
}

body {
	background-color: @side_background_color;
	padding: 0;
}

* {
	font-family: "Muli", garamond, sans-serif;
}

/** Mixins/Mixin Classes **/
.clearfix {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
} 

.negative {
	color: red;
}

.positive {
	color: green;
}

/** Fixed Topbar styling **/
.topbar {
	z-index: 1000;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: @topbar_color;
	color: white;
	h1 {
		float: left;
		display: inline-block;
		margin: 0.67em;
		width: 40%;
	}
	button {
		@media screen {
			overflow: hidden;
			text-align: left;
			float: right;
			display: inline-block;
			border: none;
			background-color: @settings_button_color;
			color: black;
			border-radius: 5px;
			font-size: 24px;
			margin: 0.67em @settings-right 0.67em 0.67em;
			width: @button_width;
			white-space: nowrap;
		}
		@media (max-width: 768px) {
			margin: 0.67em @settings-right - 9% 0.67em 0.67em;
			width: 30px;
			height: 30px;
		}
		cursor: pointer;
		
	}
	button:hover {
		background-color: @settings_button_color - #222;
	}
	button:active {
		background-color: @settings_button_color + #111;
	}
	#settings-list {
		@media screen {
			position: absolute;
			overflow: hidden;
			min-height: 52px;
			width: @button_width;
			border-radius: 0 0 5px 5px;
			top: 2em;		
			right: @settings-right;
			text-align: left; 
			list-style: none;
			list-style-type: none;
			padding: 0;
			background-color: @settings_button_color;
		}
		@media (max-width: 768px) {
			right: @settings-right - 9%;
			border-radius: 5px;	
			width: 100px;		
		}
		li {
			padding-left: 10%;
			border-radius: inherit;
			cursor: pointer;
			vertical-align: middle;
			margin: 5px 0px;
			a {
				color: black;
				text-decoration: none;
			}
		}

		li:hover {
			background-color: @settings_button_color - #222;
			border-color: @settings_button_color - #222;
		}
	}
}

.content-body {
	@media screen {
		min-height: 545px;
		width: 90%;
		margin-top: 82px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		background-color: @content_body_color;
		padding: 20px 0;
	}
	@media (max-width: 768px) {
		width: 95%
	}

}

/* Template Styling*/

#og_content {
	@media screen {
		width: 100%;
		// padding: 1%;
		min-height: 200px;
		
	}
	@media (max-width: 768px) {
		margin-top: 8%;
	}
	h1 {
		margin: 5px 15px;
		display: inline-block;
	}
	p {
		margin: 0 10px;
	}
	.gardener_box{
		// margin: 10px 0;
		font-size: 14px;
		padding: 10px;
		// background-color: @content_body_color - #211;
		// border-radius: 5px;
		// box-shadow: black 1px 1px 6px;
		h3 {
				margin: 0;
		}
		&:nth-child(odd) {
			background-color: @content_body_color2;
		}
		&:nth-child(even) {
			background-color: @content_body_color3;
		}
		.gardener_name {
			margin: 0 8px;
		}
		.plant_header {
			@media screen {
				margin-top: 10px;
			}
			@media (max-width: 768px) {
				clear: left;
				margin-left: 20px;
			}
		}
		.og-profilepic {
			@media screen {
				float: left;
				display: inline-block;
				width: 22%;
		  		min-height: 240px;
		  		margin: 10px 0px 5px 9px;
		  		border-radius: 5px;
			}
			@media (max-width: 768px) {
				width: 80%;
				height: 300px;
			}
		}
		.og-aboutme {
			@media screen {
				width: 19%;
			}
			@media (max-width: 768px) {
				width: 80%;
				max-height: 200px; 
			}
			span {
				font-size: 14px;
			}
		}
		.og-plants {
			h4 {
				margin: 10px 0 0 0;
			}
			@media screen {
				width: 48%;
			}
			@media (max-width: 768px) {
				width: 96%;
			}
			// This covers both the plant img and the plant info
			.plant_info {
				.plantimg_sprites {
					width: 20%;
					height: 30px;
					margin-left: 4px;
					margin-right: -2px;
					border-radius: 0 0 5px 5px;
				}
				.first_plant_img {
					width: 97%;
					height: 156px;
					margin: 10px 0 4px 4px;
					border-radius: 5px 5px 0 0;
				}
				&:nth-child(odd) {
					clear: left;
				}
				&:nth-child(even) {
					max-height: 250px;
				}
				vertical-align: top;
				// border: 1px red dotted;
				width: 48%;
				min-height: 250px;
				margin-left: 4px;
				float: left;
				display: inline-block;
			}
		}
		.og-partition {
			float: left;
			// border: 1px red dotted;
			display: inline-block;
			height: 250px;
			margin: 10px 20px;
			overflow-y: auto;
		}
	}
	#refreshGardeners {
		cursor: pointer;
		&:hover {
			color: white;
		}
	}
}