// Colors and sizes
// Original plant scheme:
// @color1: #E3E6B5;
// @color2: #CAE6B5;
// @color3: @color1;
// Weird ice princess scheme:
// @color1: #E3E6FF;
// @color2: #CAE6B5;
// @color3: @color1;
// Feed page color scheme:
// @color1: #788384;
// @color2: #a7625a;
// @color3: @color1;
// Feed page color scheme 2:
@color1: #788384;
@color2: #a7625a;
@color3: #ffffdd;
// Feed page color scheme 3:
@color1: #788384 + #222;
@color2: #a7625a;
@color3: #ffffdd;

@menu-button-color: #FFFFFF;
@tablet-size: 1023px;
@tablet-size-half: 382px;
@tablet-size15: @tablet-size * 1.5;
@tablet-size20: @tablet-size * 2.0;
@tablet-size25: @tablet-size * 2.5;
@menu-width: 90px;
@menu-padding-left: 20px;

//----- Universal Attributes -----//
* {
	font-family: "Muli", garamond, sans-serif;
	color: black;
}

h2 {
	font-size: 36px;
}

input {
	border: none;
	padding: 2px;
}

.close {
	background: none;
	border: none;
	float: right;
	cursor: pointer;
}
.close:hover {
	color: blue;
	box-shadow: inset 2px, 2px, 2px black;
}

.hidden {
	left:-9999px!important;
	position: absolute;
}

.invalid_input {
	border: 2px @color2 solid;
	background-color: @color2;
	&::after {
		content: "&times;&nbsp;This username is used already";
		height: 20px;
	}
}

//----- Mixins -----//

// Center aligned

.center() {
	margin-left: auto;
	margin-right: auto;
}

// Panel characteristics
.panel( @width: 100%;
		@min-height: 400px;
		@back-color: transparent;
		@margin-bottom: 0px;
		@padding-top: 0px) {
	text-align: left;
	margin-bottom: @margin-bottom;
	padding-top: @padding-top;
	padding-left: 5px;
	width: @width;
	min-height: @min-height;
	background-color: @back-color;
	position: relative;
	.center();
}

// Clearfix Hack
.clearfix() {
	display: inline-block;
	:after {
	     visibility: hidden;
	     display: block;
	     font-size: 0;
	     content: " ";
	     clear: both;
	     height: 0;
	 }
}


// ----- Top Level Styling ----- //

body {
	position: relative;
	overflow-x: hidden;
	background-color: @color2;
	margin: 0;
	padding: 0;
	.top-bar {
		background-color: @color2;
	    height: 20px;
	    right: 0;
	    padding: 10px 0;
	    position: fixed;
	    top: 0;
	    width: 120px;
	    z-index: 100;
		a {
			text-decoration: none;
			color: black;
		}
		#menu-wrapper {
			display: inline-block;
			float: right;
			margin-right: 10px;
			width: @menu-width;
			&::after {
				content: "";
				visibility: hidden;
			    display: block;
			    font-size: 0;
			    clear: both;
			    height: 0;
			}
			#menu-button {
				width: @menu-width;
				background-color: @menu-button-color;
				border: none;
				text-align: left;
				padding-left: @menu-padding-left;
				&:hover {
					background-color: @menu-button-color - #111;
				}
			}
			#top-bar-menu {
				.clearfix();
				li{
					&:hover{
						background-color: @menu-button-color - #111;
						cursor: pointer;
					}
					padding-left: @menu-padding-left;
				}
				background-color: white;
				margin-top: 0;
				text-align: left;
				font-size: 14px;
				list-style: none;
				padding: 0;
				width: @menu-width;
				overflow: hidden;
			}
		}
		
	}
	
	.profile_content {
		.center();
		.clearfix();
		.panel(@back-color: @color3,
			   @padding-top: 10px);
		padding-bottom: 10px;
		h2, p {
				display: inline-block;
				margin: 20px 0 0 0px;
		}

		.thumb_wrapper {
			clear: both;
			@media screen {
				position: relative;
				margin-left: 20px;
				border-radius: 5px 5px 0 0;
				float: left;
				clear: both;
				background-color: @color1 + #111;
				width: 24%;
				height: 320px;
				display: inline-block;
			}
			@media (max-width: @tablet-size) {
				width: 83%;
			}
			#profilepic_thumb {
				border-radius: inherit;
				position: relative;
				top: 8px;
				left: 3%;
				width: 94%;
				height: 86%;
			}
		}
		#toggle_edits {
			@media screen {
				float: right;
				margin-right: 10%;
				cursor: pointer;
				color: blue;
				font-weight: underline;
			}
			@media (max-width: @tablet-size) {
				display: block;
				float: left;
			}
		}
		#toggle_edits:hover {
			color: green;
		}
		#profile_form {
			@media screen {
				width: 40%;
			}
			@media (max-width: @tablet-size) {
				width: 80%;
				margin-top: 20px;
			}
			white-space: pre-line;
			word-wrap: break-word;
			overflow: hidden;
			border-radius: 5px;
			float: left;
			position: relative;
			padding: 5px 0px 5px 15px;
			background-color: @color1 + #111;
			margin-left: 20px;
			// box-shadow: inset 2px 2px 4px @color1 + #222; 
			ul {	
				width: 100%;
				margin-bottom: 10px;
				list-style-type: none;
				padding: 0;
				position: relative;
				bottom: 45px;
				li {
					@media screen {
						position: relative;
						width: 38%;
						float: left;
						display: inline-block;
						margin-bottom: 10px;
						margin-right: 20px;
					}
					@media (max-width: @tablet-size) {
						width: 92%;
						display: block;
					}
					&:first-child, &:last-child {
						width: 96%;
						display: block;
					}
					&:nth-child(3), &:nth-child(6) {
						clear: left;
					}

				}
				a {
					display:none;
				}
				label {
					font-size: 16px;
					font-weight: bold;
					display: inline-block;
					width: 100%;
					// vertical-align: middle;
				}
				input, select, textarea {
					position: relative;
					display: inline-block;
					// vertical-align: middle;
					width: 100%;
					
					border-radius: 5px;
					float: left;
				}
				#id_available {
					display: inline-block;
					width: 20px;
				}
				// #id_available::after {
				// 	content: "I can help people with their home gardens!";
				// 	color: black;
				// }
			}
			a {
				float: left;
			}
		}
	}
	.plant_content {
		h2 {
			text-align: center;
		}
		.clearfix();
		.panel(@back-color: @color3 - #111);
		top: -5px;
		#add_plant {
			@media screen {
				background-color: @color1;
				border-radius: 10px;
				opacity: 0.8; 
				border: none;
				width: 62%;
				left: 19%;
				position: relative;
				cursor: pointer;
				margin-bottom: 12px;
				font-size: 24px;
			} 
			@media (max-width: @tablet-size) {
				left: 9%;
				width: 82%;
				font-size: 20px;
			}
		}
		#add_plant:hover {
			background-color: @color1 + #111;
		}
	}
}

//--- Template Styling ---//
.plant_form {
	.center();
	position: relative;
	border-radius: 5px;
	margin-bottom: 20px;
	background-color: @color1 + #111;
	padding: 1%;

	@media screen {
		width: 60%;
	}
	@media (max-width: @tablet-size) {
		width: 90%;
		min-width: 303px;
	}

	p {
		clear: left;
		float: left;
		display: inline-block;
		@media screen {
			width: 60%;
		}
		@media (max-width: @tablet-size) {
			width: 90%;
		} 
		input, textarea {
			float: left;
			width: 100%;
			margin-bottom: 10px;
		}
	}

	.toggle_plant_edit {
		float: left;
		cursor: pointer;
		color: blue;
		font-weight: underline;
		margin-bottom: 10px;
	}

	.toggle_plant_edit:hover {
		color: green;
	}

	.thumb_wrapper_p {
		@media screen {
			position: relative;
			background-color: @color1 + #222;
			border-radius: 5px 5px 0 0;
			white-space: nowrap;
			overflow: hidden;
			display: block;
			float: right;
			clear: right;
			// padding: 5px;
			border: 5px @color1 + #222 solid;
			width: 1289px * 0.6 * 0.3;
			height: 1289px * 0.6 * 0.3 * 4/3;
		}	

		@media (max-width: @tablet-size) {
			width: 292.9px;
			height: 292.9px * (1.5);
			margin-right: 33%;
			float: left;
			clear: left;
		}

		input {
			  left: -9999px;
			  position: absolute;
		}

		img {
			@media screen {
				display: inline-block;
				border-radius: 5px;
				white-space: nowrap;
				position: relative;
				width: 100%;
				height: 85%;
				// margin-right: 5px;
			}

		}
		.img_button {
			z-index: 50;
			position: absolute;
			display: block;
			top: 86%;
			cursor: pointer;
			border: none;
			border-radius: 5px;
			background-color: #FFFFFF;
			color: #909090;
			opacity: 0.8;
			font-weight: bold;
			width: 47%;
			@media (max-width: @tablet-size) {
				height: 25px;
			}
		}

		.img_button:hover {
			background-color: #FFFFFF - #111;
		}
		
		.img_left {
			left: 2%;
			margin-bottom: 5px;
		}
		.img_right {
			right: 2%;
			margin-bottom: 5px;
		}
		.delete_img {
			top: 2%;
			right: 2%;
		}
		.fake_button {
			top: 92%;
			opacity: 1.0;
			height: 22px;
			width: 97%;
			left: 2%;
			background-color: #FFFFFF - #111;
			&:hover {
				opacity: 0.5;
			}
		}
		

	}

}