{% load template_tags %}

<div class="plant-item panel row">
	<div class="img-carousel-wrapper col-xs-11 col-sm-4">
		<div class="img-carousel">
			{% for img in plant.images %}
				<div class="carousel-img-wrapper">
					<img class="carousel-img" src="{{ img.imageURL | normalizeMediaPic }}"/>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="plant-text-wrapper col-xs-12 col-sm-6 col-sm-offset-1">
		<div class="plant-text">
			<h4>{{ plant.species | replaceDefaultPlant:"species" }}</h4>
			<h6>Quantity: {{ plant.quantity | replaceDefaultPlant:"quantity" }}</h6>
			<p>{{ plant.information | replaceDefaultPlant:user.first_name }}</p>
		</div>
	</div>
</div>