@keyframes event-show {
	0% {
		height: 0;
		opacity: 0;
	}
	25% {
		height: 50px;
		opacity: 0.25;
	}
	50% {
		height: 100px;
		opacity: 0.50;
	}
	75% {
		height: 150px;
		opacity: 0.75;
	}
	100% {
		height: auto;
		opacity: 1.0;
	}

}

a {
	text-decoration: none;
} 

.feed-section {
	border-bottom: 1px solid #ddd; 
}

.feed-header {
	padding: 0;
}

.job-post {
	height: 100px;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.job-post-submit {
	border:0;
	color: #777;
	background-color:transparent;
	float: left;
	font-size: 20px;
	margin-left:10px;
	&:hover {
		color: #aaa;
	}
}

.f-t-crop{
	float: left;
	border-radius: 50%;
    overflow: hidden;
}

.feed-thumbnail-crop {
    .f-t-crop;
    height: 100px;
    width: 100px;
    margin-right: 33px;
}

.feed-thumbnail-crop-sm {
	.f-t-crop;
	height: 50px;
	width: 50px;
	margin-right: 20px;
}

.event-panel {
	padding: 10px 0px 10px 20px;
	animation: event-show 1s;
	.event-text {
		display: inline-block;
		float: left;
		vertical-align: top;
		.image-thumbnail {
			float: left;
    		max-width: 100px;
    		clear: both;
    		margin-top: 35px;
		}
	}
	.event-img {
		height: 100%;
	}

}

.more-button {
	border: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	height: 22px;
  	margin-bottom: 15px;
	border-radius: 5px;
	background-color: transparent;
	cursor: pointer;
	clear: both;
	&:hover {
		background-color: #eee;
	}
}

.text-portion {
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding-bottom: 10px;
	height: 105px;
}

.comment-image-thumbnail {
	height: 100%;
}

.comment-post {
    border: 0;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 11px;
}

.comment-post-submit {
	margin-top: 20px;
    background-color: transparent;
    border: 0;
    color: #777;
    &:hover {
    	color: #bbb;
    }
}

.comment-text {
	animation: event-show 1s;
    float: left;
    display: inline-block;
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
    padding-bottom: 5px;
    word-wrap: break-word;
    margin-bottom: 20px;
	h5 {
		margin: 0;
		font-weight: bold;
	}
}

