
<div class="panel event-panel col-xs-offset-1 col-xs-9 col-sm-8">
	<img class="event-img col-xs-5" src="<%=user.profile_pic%>"/>
	<p class="event-text col-xs-7 col-sm-6">
	<% if (event === "CN") { %>
		<a href="/profile/<%= user.username %>"> 
			<%= user.username %> 
		</a>'s name is now <%= user.first_name %> <%= user.last_name %>.
		<% } else if (event === "CU") { %>

		<%= user.first_name %>'s username was changed to 
		<a href="/profile/<%= user.username %>">
			<%= user.username %>
		</a>.
		<% } else if (event === "CL") { %>
		<a href="/profile/<%=user.username%>"><%= user.username %></a>&nbsp;moved to <%=user.city%>, <%= user.state %>.</p class="event-text">
		<% } else if (event === "CP") { %>
		<a href="/profile/<%=user.username%>"><%=user.username %></a>&nbsp;changed their profile picture!
		<% } else if (event === "NP") { %>
		<a href="/profile/<%=user.username%>"><%=user.username %></a>&nbsp;added <%= plant.quantity %> <%= plant.species %>s to their garden.
		<% } else if (event === "NI") { %>
		<a href="/profile/<%=user.username%>"><%=user.username %></a>&nbsp;added an image of their <%= plant.species %> plant. <img class="image-thumbnail" src="<%=plant_img.image%>"/>
		<% } %>

	</p>
</div>
