{% extends "gardening/shared/base.html" %}
{% load static from staticfiles %}
{% load template_tags %}

<!-- CSS Styling -->
{% block css %}
	<link href='{% static "gardening/shared/css/jquery-ui.min.css" %}' rel='stylesheet' type='text/css'/>
{% endblock %}

<!-- DEVELOPMENT STYLING BRANCH -->
<!-- LESS Link has these attributes: -->
<!-- type="text/css" rel='stylesheet/less' href='{% static "file.less"%}'-->
{% block less_styling_browser_compile %}
	<link rel="stylesheet/less"
		  href="{% static 'gardening/feed_page/less/feed_page.less'%}"/>
{% endblock %}

<!-- PRODUCTION STYLING BRANCH -->
<!-- LESS Link has these attributes: -->
<!-- type="text/less" rel='stylesheet' href='{% static "file.less"%}'-->
{% block less_styling_pre_compile %}
	<link type="text/less"
		  rel="stylesheet"
		  href="{% static 'gardening/feed_page/less/feed_page.less'%}"/>
{% endblock %}

<!-- Script tag with Bootstrapped values -->
{% block bootstrap_vars %}
 
	var DOMAIN, OTHER_GARDENERS, EVENTS;
	DOMAIN = "{{ domain }}";
	OTHER_GARDENERS = {{ other_gardeners }};
	EVENTS = {{ events }};
	JOBS = {{ jobs }};
{% endblock %}

{% block backbone_templates %}

<script id="event-template" type="text/html">
	{% include "gardening/feed_page/event_backbone_template.html" %}
</script>

<script id="job-template" type="text/html">
	{% include "gardening/feed_page/job_backbone_template.html" %}
</script>

{% endblock %}

<!-- Main content -->
{% block main_content %}
<div class="posting-section container">
	<div class="row">
		<h3 class="feed-header col-xs-offset-1 col-xs-9 col-sm-8">Does your garden need help? Ask the neighborhood!</h3>
	</div>
	<div class="row feed-section">
		<textarea class="job-post col-xs-offset-1 col-xs-9 col-sm-8" placeholder="Post a question or job listing to the community wall."></textarea>
		<button class="job-post-submit">
			<i class="fa fa-paper-plane"></i>
		</button>
	</div>
	<div class="row jobs-feed feed-section">
	<h3 class="feed-header col-xs-offset-1 col-xs-9 col-sm-8">Community Wall</h3>
		{% if not jobs %} 
			<p class="no-event col-xs-offset-1 col-xs-9 col-sm-8">No postings yet!</p>
		{% endif %}
		<button class="more-events more-button" title="Refresh Jobs"><i class="fa fa-ellipsis-h"></i></button>
	</div>
	<div class="row events-feed feed-section">
		<h3 class="feed-header col-xs-offset-1 col-xs-9 col-sm-8">Gardener Activity</h3>
		{% if not events %} 
			<p class="no-event col-xs-offset-1 col-xs-9 col-sm-8">Nothing is going on right now!</p>
		{% endif %}
		<button class="more-events more-button" title="Refresh Events"><i class="fa fa-ellipsis-h"></i></button>
	</div>
</div>
{% endblock %}

<!--Feed Page Specific scripts -->
{% block scripts %}
<script src="{% static 'gardening/feed_page/js/backbone/models/FeedPageModels.js' %}"/>
<script src="{% static 'gardening/feed_page/js/backbone/collections/Events.js' %}"/>
<script src="{% static 'gardening/feed_page/js/backbone/collections/Jobs.js' %}"/>
<script src="{% static 'gardening/feed_page/js/backbone/views/EventsView.js' %}"/>
<script src="{% static 'gardening/feed_page/js/backbone/views/JobsView.js' %}"/>
<script src="{% static 'gardening/feed_page/js/backbone/views/FeedPageView.js' %}"/>
{% endblock %}
