<div class="panel event-panel col-xs-offset-1 col-xs-9 col-sm-8">
	<div class="feed-thumbnail-crop "><img class="event-img" src="<%=user.profile_pic%>"/></div>
	<div class="text-portion col-xs-10 col-sm-8">
		<h4 class="feed-header"><a href="/profile/<%= user.username %>"><%= user.username %></a> posted:</h4>
		<p><%= text_description %></p>
	</div>
	<div class="c-p<%= id %> comment-portion col-xs-offset-0 col-sm-offset-1 col-xs-10">
		<input name="job-id" type="hidden" value="<%= id %>"/>
		<% _.each(comment, function (comm) {  %>
		<div class="feed-thumbnail-crop-sm col-xs-offset-0 col-sm-offset-1">
		<img class="comment-image-thumbnail" src="<%= comm.user.profile_pic %>"/>
		</div>
		<div class="comment-text col-xs-10 col-sm-8">
			<h5><a href="/profile/<%=comm.user.username%>"><%= comm.user.username %></a>: </h5>
			<p><%= comm.text %></p>
		</div>
		<% }); %>
	</div>
	<div class="comment-post-portion col-xs-offset-0 col-sm-offset-1 col-xs-10">
		<textarea class="comment-post col-xs-offset-0 col-sm-offset-1 col-xs-11 col-sm-9" placeholder="Comment on this posting!"></textarea>
		<button class="comment-post-submit col-xs-1"><i class="fa fa-paper-plane"></i></button>
	</div>
</div>